table{
    color: rgb(54, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    padding: 2px;
}
th{
    border: 1px solid black;
    padding: 5px;
    color: whitesmoke;
    background-color: rgb(156, 134, 6);
}